<?xml version="1.0"?>
<architecture id="INTEL_NEHALEM">
    <id>INTEL_NEHALEM</id>
    <events>
        <instruction-count>0xc0</instruction-count>
        <event>0x149</event>
        <event>0x151</event>
        <event>0x2a2</event>
        <event>0x126</event>
        <event>0x227</event>
        <event>0x224</event>
        <event>0x8a2</event>
        <event>0x1b0</event>
        <event>0x20f0</event>
        <event>0x2f1</event>
        <event>0x1f2</event>
        <event>0x1b8</event>
        <event>0x2b8</event>
        <event>0x4b8</event>
        <event>0x40cb</event>
    </events>
</architecture>