<?xml version="1.0"?>
<!--
  ~ /*
  ~ * vimarsha, Performance analysis: Machine Learning Approach
  ~ * Copyright (C) 2013 vimarsha
  ~ *
  ~ * This program is free software: you can redistribute it and/or modify
  ~ * it under the terms of the GNU General Public License as published by
  ~ * the Free Software Foundation, either version 3 of the License, or
  ~ * (at your option) any later version.
  ~ *
  ~ * This program is distributed in the hope that it will be useful,
  ~ * but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ * GNU General Public License for more details.
  ~ *
  ~ * You should have received a copy of the GNU General Public License
  ~ * along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ */
  -->

<config-architecture>
    <architecture id="POWER7">
        <events>
            <instruction-count>0x2</instruction-count>
            <event>0x3c046</event>
            <event>0x2c048</event>
            <event>0x2f080</event>
            <event>0x26080</event>
            <event>0x30881</event>
            <event>0x26182</event>
            <event>0x26880</event>
            <event>0xd0a2</event>
            <event>0xd0a0</event>
        </events>
    </architecture>
    <architecture id="INTEL_NEHALEM">
        <events>
            <instruction-count>0xc0</instruction-count>
            <event>0x149</event>
            <event>0x151</event>
            <event>0x2a2</event>
            <event>0x126</event>
            <event>0x227</event>
            <event>0x224</event>
            <event>0x8a2</event>
            <event>0x1b0</event>
            <event>0x20f0</event>
            <event>0x2f1</event>
            <event>0x1f2</event>
            <event>0x1b8</event>
            <event>0x2b8</event>
            <event>0x4b8</event>
            <event>0x40cb</event>
        </events>
    </architecture>
    <architecture id="POWER8">
        <events>
            <!--Tobe added.-->
        </events>
    </architecture>
</config-architecture>